body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #dbeafe, #eff6ff);
  text-align: center;
}

.container {
  max-width: 420px;
  margin: auto;
  padding: 15px;
}

.top h1 {
  color: #1d4ed8;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px gray;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
}

button:hover {
  background: #1e40af;
}

ul {
  text-align: left;
}
